<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Maxyourtime</title>
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" media="screen,projection" />
  <link rel="stylesheet" href="/assets/css/styles.css">
</head>

<body>
  <main>
    <!--Navbar-->
    <nav>
      <div class="nav-wrapper">
        <a href="#" class="brand-logo">Maxyourtime</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="/">Index</a></li>
          <li><a href="/interface">Interface</a></li>
          <li><a href="/tracker">Tracker</a></li>
        </ul>
      </div>
    </nav>
    <!--Content-->
    {{{ body }}}

  </main>

  <!--Footer-->

  <footer class="page-footer" style="position:fixed;bottom:0;left:0;width:100%;">
    <div class="container center-align">
        © 2020 Copyright Maxyourpower studios
      </div>
    </div>
</body>



<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</html>
    
   