<div class="container s12">
  <!-- Page Content goes here -->
  <div class="row">
    <div class="card col s12">
      <span class="flow-text">Welcome</span>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem harum molestiae quos cum adipisci culpa
        dolores saepe aut natus soluta dolorem, nesciunt sapiente nisi earum voluptates debitis quisquam, dignissimos
        reiciendis?</p>
    </div>
    <!--Main Content-->
    <!--Enter Categorys-->
    <div class="card col s12 m4">
      <span class="flow-text">Enter Categorys/Tags</span>
      <form>
        <input type="text" id="lname" name="lname"><br><br>
      </form>
      <p>Having trouble managing life? You will be alright. Enter some of your daily tasks & Tap as you go!</p>
    </div>
    <!--Battery Screen Mob-->
    <div id="bgraph" class="card col s12 m8">
      <span class="flow-text">Today</span>

      <div class="card blue" id="categoryname">
        <p class="defaultsleep">Sleep</p>
        <p id="timerdefault">1hr 30min 23sec</p>
        <div class="progress">
          <div class="determinate" style="width: 70%"></div>
        </div>
      </div>

      <div class="card orange" id="categoryname">
        <p class="defaultsleep">Exercise</p>
        <p id="timerdefault">1hr 30min 23sec</p>
        <div class="progress">
          <div class="determinate" style="width: 70%"></div>
        </div>
      </div>

      <div class="card orange" id="categoryname">
        <p class="defaultsleep">Exercise</p>
        <p id="timerdefault">1hr 30min 23sec</p>
        <div class="progress">
          <div class="determinate" style="width: 70%"></div>
        </div>
      </div>

      <div class="card orange" id="categoryname">
        <p class="defaultsleep">Exercise</p>
        <p id="timerdefault">1hr 30min 23sec</p>
        <div class="progress">
          <div class="determinate" style="width: 70%"></div>
        </div>
      </div>


    </div>
    <div class="card col s12 m4">
      <span class="flow-text">Calendar</span>
    </div>
    <div class="card col s12 m4">
      <span class="flow-text">Your Day</span>
    </div>
    <div class="card col s12 m4">
      <span class="flow-text">Graph & Pie Chart</span>
    </div>
  </div>
</div>
