<div class="container s12">
  <!-- Page Content goes here -->
  <div class="row">
    <div class="card col s12 m6">
      <span class="flow-text">Your Day</span>
      <canvas id="doughnutChart" width="200" height="100">doughnutChart</canvas>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem harum molestiae quos cum adipisci culpa
        dolores saepe aut natus soluta dolorem, nesciunt sapiente nisi earum voluptates debitis quisquam, dignissimos
        reiciendis?</p>
    </div>
    <div class="card col s12 m6">
      <span class="flow-text">Sleep History</span>
      <canvas id="lineChart" width="200" height="100">lineChart</canvas>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem harum molestiae quos cum adipisci culpa
        dolores saepe aut natus soluta dolorem, nesciunt sapiente nisi earum voluptates debitis quisquam, dignissimos
        reiciendis?</p>
    </div>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="/assets/js/chart.js"></script>
