<div class="container s12">
  <!-- Page Content goes here -->
  <div class="row">
    <div class="col s12 m6 center-align">
      <div class="card large">
        <span class="flow-text card-title">
          Your Day
        </span>
        <canvas id="doughnutChart" width="200" height="100">
          doughnutChart
        </canvas>
        <p class="card-content left-align">
          This chart breaks down your day to show you where you spend your time! 
        the chart only shows since you woke up this morning because it would be a little unfair to judge you while you sleep
        </p>
      </div>
    </div>
    <div class="col s12 m6 center-align">
      <div class="card large">
        <span class="flow-text card-title">
          Sleep History
        </span>
        <canvas id="lineChart" width="200" height="100">
          lineChart
        </canvas>
        <p class="card-content left-align">
          We've been watching you sleep.. but not in a weird way
        </p>
      </div>
    </div>
  </div>
</div>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"
></script>
<script
  src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"
></script>
<script type="text/javascript" src="/assets/js/chart.js"></script>