<div class="container">
    
    <!--Battery Screen Mob-->
    <div class="card col s12 m8">
        <span class="flow-text">Today</span>
        <div class="card blue" id="categoryname" style="
    margin-left: 10px;
    margin-right: 10px;
">
            <p class="defaultsleep">Sleep</p>
            <p id="timerdefault">1hr 30min 23sec</p>
            <div class="progress">
                <div class="determinate" style="width: 70%"></div>
            </div>
        </div>
        <div class="card orange" id="categoryname" style="
    margin-left: 10px;
    margin-right: 10px;
">
            <p class="defaultsleep">Work</p>
            <p id="timerdefault">1hr 30min 23sec</p>
            <div class="progress">
                <div class="determinate" style="width: 70%"></div>
            </div>
        </div>
        <div class="card orange" id="categoryname" style="
    margin-left: 10px;
    margin-right: 10px;
">
            <p class="defaultsleep">Family</p>
            <p id="timerdefault">1hr 30min 23sec</p>
            <div class="progress">
                <div class="determinate" style="width: 20%"></div>
            </div>
        </div>
        <div class="card orange" id="categoryname" style="
    margin-left: 10px;
    margin-right: 10px;
">
            <p class="defaultsleep">Exercise</p>
            <p id="timerdefault">1hr 30min 23sec</p>
            <div class="progress">
                <div class="determinate" style="width: 100%"></div>
            </div>
        </div>
    </div>

    <div class="card col s12 m4">
        <span class="flow-text">Enter Categorys/Tags</span>
        <form>
            <input type="text" id="lname" name="lname"><br><br>
        </form>
        <p>Having trouble managing life? You will be alright. Enter some of your daily tasks & Tap as you go!</p>
    </div 

    
</div>
</div>