body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #2193b0;
  /*background-image: linear-gradient(#fdc830,#f37335);*/
}
nav{
  background-color: white;
}
.nav-wrapper .brand-logo{
  color: #2193b0;
}
main {
  flex: 1 0 auto;
}

a{
  color: navy !important;
}
#categoryname {
  border-radius: 5px;
}

/*Battery Styling*/
p#timerdefault{
  text-align: right;
  font-weight: 500;
  padding: 10px;
  color: white;
}
p#timer{
  text-align: right;
  font-weight: 500;
  padding: 10px;
  padding-right: 30px;
}
p.defaultsleep{
  color: white;
  padding: 10px;
}
.card .col{
  padding: 10px;
}
.card.blue{
  background-image: linear-gradient(#4A00E0,#8E2DE2);
}
:hover.card.blue{
  background-image: linear-gradient(#4A00E0,#4A00E0);
}
.card.orange{
  background-image: linear-gradient(#F37335,#FDC830);
}
:hover.card.orange{
  background-image: linear-gradient(#F37335,#F37335);
}
.flow-text{
  font-weight: 500;
}
/*progress bar*/
.progress .determinate {
  background-color: red;
}


.page-footer{
  background-color: whitesmoke;
  color: #2193b0;
}